/* .text-change {
    color: red !important;
    content: 'this changed';
    font-weight: bold !important;
  }
  /* .text-change:hover:before {
    color: red !important;
    content: 'this changed';
  } */ */