html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-change {
  color: red !important;
  /* content: 'this changed'; */
  font-weight: bold !important;
}
/* .text-change:hover:before {
  color: red !important;
  content: 'this changed';
} */
